<span style="color:grey">Version : Python 3.7.6 in Window</span>

<span style="color:grey">By "ksclown(Kang Seong Chan)"</span>

# Data Base

- 참고 교재 : Python For Beginner (한빛)

## 프로그램을 다운로드하여 직접 사용

- URL 들어가서 운영체제에 맞는 파일 다운로드(https://www.sqlite.org/index.html)
- 압축 풀고 sqlite3.exe 실행

### sqlite3.exe 사용법

1. 데이터 베이스 생성
 - 형태 : ".open 데이터베이스명"

2. 테이블 생성
 - 형태 : "CREATE TABLE 테이블이름(열이름1 데이터 형식, 열이름2 데이터 형식, ...);"
 - 확인 1 : .table
 - 확인 2 : .schema 테이블이름

3. 데이터 입력
 - 행데이터 입력 : "INSERT INTO 테이블이름 VALUES(값1, 값2, 값3, ...)"

4. 데이터 조회 및 활용
 - 조회 : "SELCET * FROM 테이블이름;"
 - 조건 : "SELECT 열이름1, 열이름2, ... FROM 테이블이름 WHERE 조건;"

## 파이썬에서 활용

 - 데이터베이스 연결 (라이브러리 불러오고 데이터베이스 연결)
 - 커서 생성 (결과물 확인을 위해)
 - 테이블 만들기
 - 데이터 입력
 - 데이터 저장 (커밋(commit))
 - 데이터 조회
 - 데이터 닫기

In [1]:
# 데이터 베이스 연결 (결과창 안나옴)
import sqlite3
con = sqlite3.connect("KSCDB")

In [2]:
# 커서 생성 (For 결과창)
cur = con.cursor()

In [3]:
# 테이블 만들기
cur.execute("CREATE TABLE KTable (First char(4), Last char(5), Email char(15), Age int)")

In [4]:
# 데이터 입력
cur.execute("INSERT INTO KTable VALUES('Kang', 'Jin', 'kj@naver.com', 32)")
cur.execute("INSERT INTO KTable VALUES('Kim', 'Hun', 'kh@daum.net', 25)")
cur.execute("INSERT INTO KTable VALUES('Lee', 'Cheong', 'lc@nate.net', 29)")
cur.execute("INSERT INTO KTable VALUES('Park', 'Su', 'ps@gmail.com', 30)")

In [5]:
# 데이터 저장 - 커밋(commit)
con.commit()

In [6]:
# 조회
cur.execute("SELECT * FROM userTable")

OperationalError: no such table: userTable

In [ ]:
# 데이터베이스 닫기
con.close()

### 데이터베이스에서 가져와서 파이썬으로 출력

- fetchone을 사용하면 하나의 row를 리턴함
- print를 사용해서 나오는 결과를 출력하면 쉽게 이해 가능
- 반복문을 통해 데이터 출력

In [7]:
# 라이브러리 #
import sqlite3

# 변수 선언 부분 #
con, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
row=None

# 메인 코드 부분 #
con = sqlite3.connect("KSCDB")
cur = con.cursor()

cur.execute("SELECT * FROM KTable")

print("First      Last             Email     Age")
print("----------------------------------------------------")

while (True) :
    row = cur.fetchone()  # 하나의 row를 리턴
    if row == None :
        break;
    data1 = row[0] 
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print("%5s   %7s   %15s   %5d" % (data1, data2, data3, data4))

con.close

First      Last             Email     Age
----------------------------------------------------
 Kang       Jin      kj@naver.com      32
  Kim       Hun       kh@daum.net      25
  Lee    Cheong       lc@nate.net      29
 Park        Su      ps@gmail.com      30